<f:layout name="Default" />

<f:section name="Title">Edit dictionary entry "{dictionary.realWord}"</f:section>

<f:section name="Content">
  <style>
  .neos form {margin-top: 10px;}
  .neos form li {margin-bottom: 20px;}
  .neos form li:last-child {margin-bottom: 0;}
  </style>
  <f:form action="update" object="{dictionary}" objectName="dictionary">
    <ol>
      <li>
        <label for="locale">Locale (en_GB, de_DE, en, de, ...; "mul" for all languages)</label>
        <f:form.textfield property="locale" id="locale" />
      </li>

      <li>
        <label for="word">Word (divided by slashes (/) where hyphenation should take place)</label>
        <f:form.textfield property="word" id="word" />
        <div><small>For example: hy/phe/na/tion.</small></div>
      </li>

      <li>
        <f:form.submit value="Update" class="neos-button" />
      </li>
    </ol>
  </f:form>
</f:section>
