<f:layout name="Default" />

<f:section name="Title">Show dictionary entry for "{dictionary.realWord}"</f:section>

<f:section name="Content">
  <style>
  .dictionary-table {margin-top: 20px; max-width: 620px !important;}
  .dictionary-table td {line-height: 1.4 !important; padding: 10px 16px !important;}
  </style>
  <table class="neos-table dictionary-table">
    <tr>
      <td>Locale</td>
      <td>{dictionary.locale}</td>
    </tr>

    <tr>
      <td>Word to replace<br>(without hyphenation)</td>
      <td>{dictionary.realWord}</td>
    </tr>

    <tr>
      <td>Hyphenated Word<br>(parts divided by /)</td>
      <td>{dictionary.word}</td>
    </tr>
  </table>
  <f:link.action action="index" class="neos-button">Back</f:link.action>
</f:section>
